<div class="publications">
  <p>Selected publications would be listed here. For a complete list of publications, please check the <a href="/publications/">publications page</a>.</p>
  
  <!-- Example of a static publication entry (uncomment and modify as needed) -->
  <!--
  <div class="publication">
    <h3>Publication Title</h3>
    <p>Author 1, Author 2, Author 3<br>
    <em>Journal/Conference Name</em>, Year</p>
    <p><a href="#" class="btn btn-sm z-depth-0" role="button">PDF</a>
       <a href="#" class="btn btn-sm z-depth-0" role="button">DOI</a>
       <a href="#" class="btn btn-sm z-depth-0" role="button">BibTeX</a></p>
  </div>
  -->
</div>
